html {
  font-family: helvetica;
}
body {
  background-color: white;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
@media all and (max-width: 1366px){
  .container {
    width: auto;
    margin: 0 auto;
  }
}
.content {
  float: left;
  width: 80%;
}
.sidebar {
  float: left;
  width: 20%;
}
header {
  background-color: ;
}
.header_block {
  width: 210px;
  padding: 0  5px;
}
.header_block h1 {
  color: darkcyan;
  text-shadow: 0px 0px 2px darkcyan;
}
.header_block span {
  color: darkorange;
  text-shadow: 0px 0px 2px darkorange;
}
.nav {
  margin-top: 0px;
  padding: 10px;
  background-color: whitesmoke;
}
.nav ul {
  width: 940px;
  height: 35px;
  margin: 0 auto;
  padding: 10px 5px 0 5px;
}
.nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.nav a {
  padding: 10px;
  color: gray;
  text-decoration: none;
}
.nav a:hover {
  color: red;
  text-decoration: underline;
}
.nav a:focus {
  border-top: 0px inset lightgray;
  border-left: 0px inset lightgray;
  border-right: 0px outset lightgray;
  border-bottom: 0px outset lightgray;
  border-radius: 4px;
  background-color: lightgray;
  outline: 0;
}
.nav_header_tel {
  float: right;
}
.nav_header_tel ul {
  padding-right: 10px;
  padding-bottom: 10px;
  list-style-type: none;
}
.nav_header_tel li:nth-child(1) {
  padding-right: 20px;
  color: black;
}
.nav_info li:nth-child(2) a,
.nav_info li:nth-child(3) a {
  color: gray;
  font-size: .8em;
}
.nav_info li:nth-child(2) a:hover,
.nav_info li:nth-child(3) a:hover {
  text-decoration: none;
}

.sld_img {
  height: 500px;
  margin-top: 30px;
  background-image: url(../img/fon_img.jpg);
  background-position: center;
}
.sld_block {
  padding: 5px;
  width: 410px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}
.sld_text {
  margin-top: 150px;
}
.sld_text h1 {
  color: darkcyan;
  font-size: 3.5em;
  text-align: center;
}
.sld_text span {
  color: darkorange;
}
.sld_block form {
  margin-top: 50px;
}
.sld_block input {
  width: 200px;
  height: 35px;
  font-size: .95em;
  border: 2px solid darkred;
  border-radius: 20px;
  color: darkred;
  background-color: rgba(255,255,255,0);
  cursor: pointer;
}
.sld_block input:hover {
  color: white;
  background-color: darkred;
}

#allcontent {
  padding: 20px;
  border: none;
}
.intro_block_about {
  padding: 20px;
  border-top: 1px ridge grey;
  border-bottom: 1px ridge grey;
  background-color: pink;
}
.intro_about_heading {
  margin: 50px auto;
}
.intro_about_heading h1 {
  text-align: center;
}
.intro_about_image {
  float: left;
  padding: 10px;
}
.intro_about_image img {
  border-radius: 3px;
  box-shadow: 2px 1px 1px black;
}
/*INTRODUCTION STRUCTURE LANGUAGE BLOCK*/
.structure_block {
  margin: 100px auto;
}
.structure_block_heading h1 {
  text-align: center;
}
.structure_block_lang {
  margin: 50px auto 50px 20px;
}
.structure_lang_image img {
  height: 50px;
  padding-right: 10px;
}
/*END INTRODUCTION STRUCTURE LANGUAGE BLOCK*/

/*INTRODUCTION PORTFOLIO BLOCK*/
/*PORTFOLIO LEFT*/
.intro_block_portfolio_left {
  height: 450px;
  padding: 20px;
  border-top: 1px ridge grey;
  border-bottom: 1px ridge grey;
  background-color: ghostwhite;
}
.intro_portfolio_image_left {
  padding: 20px 20px 10px 10px;
  float: left;
}
.intro_portfolio_image_left img {
  border-radius: 3px;
  box-shadow: 2px 2px 5px grey;
}
.intro_portfolio_text_left {
  width: 900px;
  margin: 0 0 0 100px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: whitesmoke;
}
/*PORTFOLIO RIGHT*/
.intro_block_portfolio_right {
  height: 450px;
  padding: 20px;
  background-color: whitesmoke;
}
.intro_portfolio_image_right {
  padding: 20px 10px 10px 20px;
  padding-left: 20px;
  float: right;
}
.intro_portfolio_image_right img {
  border-radius: 3px;
  box-shadow: -2px 2px 5px grey;
}
.intro_portfolio_heading_right h2 {
  text-align: right;
}
.intro_portfolio_text_right {
  width: 900px;
  margin: 0 0 0 100px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: ghostwhite;
}
/*END INTRODUCTION PORTFOLIO BLOCK*/
/****/
/*INTRODUCTION REVIEWS BLOCK*/

/*END INTRODUCTION REVIEWS BLOCK*/

footer {
  border: 2px solid black;
  background-color: lightyellow;
}