html {
  font-family: helvetica;
}
body {
  background-color: white;
}
.container {
  width: 1200px;
  margin: 0 auto;
}
@media all and (max-width: 1366px){
  .container {
    width: auto;
    margin: 0 auto;
  }
}
.content {
  float: left;
  width: 80%;
}
.sidebar {
  float: left;
  width: 20%;
}
header {}

.header_block {
  width: 210px;
  padding: 0  5px;
}
.header_block h1 {
  color: darkcyan;
  text-shadow: 0px 0px 2px darkcyan;
}
.header_block span {
  color: darkorange;
  text-shadow: 0px 0px 2px darkorange;
}
.nav {
  margin-top: 0px;
  margin-left: -8px;
  margin-right: -8px;
  padding: 10px;
  background-color: whitesmoke;
}
.nav ul {
  width: 940px;
  height: 35px;
  margin: 0 auto;
  padding: 10px 5px 0 5px;
}
.nav li {
  display: inline;
  list-style-type: none;
  padding-right: 20px;
}
.nav a {
  padding: 10px;
  color: gray;
  text-decoration: none;
}
.nav a:hover {
  color: red;
  text-decoration: underline;
}
.nav a:focus {
  border-top: 0px inset lightgray;
  border-left: 0px inset lightgray;
  border-right: 0px outset lightgray;
  border-bottom: 0px outset lightgray;
  border-radius: 4px;
  background-color: lightgray;
  outline: 0;
}
.nav_header_tel {
  float: right;
}
.nav_header_tel ul {
  padding-right: 10px;
  padding-bottom: 10px;
  list-style-type: none;
}
.nav_header_tel li:nth-child(1) {
  padding-right: 20px;
  color: black;
}

.sld_img {
  height: 500px;
  margin-top: 30px;
  margin-left: -8px;
  margin-right: -8px;
  background-image: url(../img/fon_img.jpg);
  background-position: center;
}
.sld_block {
  padding: 5px;
  width: 410px;
  height: 35px;
  margin-left: auto;
  margin-right: auto;
}
.sld_text {
  margin-top: 150px;
}
.sld_text h1 {
  color: darkcyan;
  font-size: 3.5em;
  text-align: center;
}
.sld_text span {
  color: darkorange;
}
.sld_block form {
  margin-top: 50px;
}
.sld_block input {
  width: 200px;
  height: 35px;
  font-size: .95em;
  border: 2px solid darkred;
  border-radius: 20px;
  color: darkred;
  background-color: rgba(255,255,255,0);
  cursor: pointer;
}
.sld_block input:hover {
  color: white;
  background-color: darkred;
}

#allcontent {
  margin-top: 100px;
  padding: 20px;
  border: none;
}
.intro_block_about {
  padding: 20px;
  border-top: 0px ridge grey;
  border-bottom: 0px ridge grey;
  background-color: ghostwhite;
}
.intro_about_heading {
  margin: 50px auto;
}
.intro_about_heading h1 {
  text-align: center;
}
.intro_about_image {
  float: left;
  padding: 10px;
}
.intro_about_image img {
  border-radius: 3px;
  box-shadow: 2px 1px 1px black;
}
/*INTRODUCTION STRUCTURE LANGUAGE BLOCK*/
.structure_block {
  width: auto;
  max-width: 600px;
  margin: 100px auto;
}
.structure_block_heading h1 {
  margin-top: 200px;
  text-align: center;
}
.structure_block_lang {
  margin: 50px auto 50px 20px;
}
.structure_lang_image {
  margin: 0 auto;
}
.structure_lang_image img {
  margin-top: 50px;
  height: 80px;
  padding-right: 10px;
}
/*END INTRODUCTION STRUCTURE LANGUAGE BLOCK*/

/*INTRODUCTION PORTFOLIO BLOCK*/
.intro_block_portfolio_heading h1 {
  margin-top: 200px;
  text-align: center;
}
/*PORTFOLIO LEFT*/
.intro_block_portfolio_left {
  height: 450px;
  padding: 20px;
  border-top: 1px ridge grey;
  border-bottom: 1px ridge grey;
  background-color: ghostwhite;
}
.intro_portfolio_image_left {
  padding: 20px 20px 10px 10px;
  float: left;
}
.intro_portfolio_image_left img {
  border-radius: 3px;
  box-shadow: 2px 2px 5px grey;
}
.intro_portfolio_text_left {
  width: 900px;
  margin: 0 0 0 100px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: whitesmoke;
}
/*PORTFOLIO RIGHT*/
.intro_block_portfolio_right {
  height: 450px;
  padding: 20px;
  background-color: whitesmoke;
}
.intro_portfolio_image_right {
  padding: 20px 10px 10px 20px;
  padding-left: 20px;
  float: right;
}
.intro_portfolio_image_right img {
  border-radius: 3px;
  box-shadow: -2px 2px 5px grey;
}
.intro_portfolio_heading_right h2 {
  text-align: right;
}
.intro_portfolio_text_right {
  width: 900px;
  margin: 0 0 0 100px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: ghostwhite;
}
/*END INTRODUCTION PORTFOLIO BLOCK*/
/****/
/*INTRODUCTION REVIEWS BLOCK*/

.intro_reviews {
  height: 1200px;
  margin-top: 100px;
  padding: 0;
  background-color: ghostwhite;
}

.intro_reviews_block {
  height: 1200px;
  margin: 0 auto;
  padding: 0;
  padding-right: auto;
}

.intro_reviews_block_heading h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 70px;
  padding-top: 50px;
}

.intro_reviws_middle_block {
  padding-left: 10%;
}
.intro_reviews_1,
.intro_reviews_2,
.intro_reviews_3,
.intro_reviews_4,
.intro_reviews_5,
.intro_reviews_6 {
  width: 250px;
  margin: 10px;
  padding: 10px 20px 10px 10px;
  float: left;
  border-radius: 5px;
  box-shadow: 0 0 10px lightgray;
  background-color: whitesmoke;
}
@media all and (max-width: 1366px){
  .intro_reviews_1,
  .intro_reviews_2,
  .intro_reviews_3,
  .intro_reviews_4,
  .intro_reviews_5,
  .intro_reviews_6 {
    width: auto;
    max-width: 300px;
    margin: 10px;
    padding: 10px;
    float: left;
  }
}

.intro_reviews_heading_1 h3,
.intro_reviews_heading_2 h3,
.intro_reviews_heading_3 h3,
.intro_reviews_heading_4 h3,
.intro_reviews_heading_5 h3,
.intro_reviews_heading_6 h3 {
  text-align: center;
}

.intro_reviews_image_1,
.intro_reviews_image_2,
.intro_reviews_image_3,
.intro_reviews_image_4,
.intro_reviews_image_5,
.intro_reviews_image_6 {}

.intro_reviews_text_1,
.intro_reviews_text_2,
.intro_reviews_text_3,
.intro_reviews_text_4,
.intro_reviews_text_5,
.intro_reviews_text_6 {
  text-align: center;
}
/*END INTRODUCTION REVIEWS BLOCK*/

/*FOOTER*/
footer {
  height: 450px;
  margin: 100px -8px -15px -8px; 
  background-color: whitesmoke;
}
.footer_block {
  width: 1200px;
  margin: 0 auto;
}
@media all and (max-width: 1366px){
  .footer_block {
    width: auto;
  }
}
.nav_social {
  float: right;
}
.footer_social_contacts ul li {
  list-style-type: none;
  margin: 5px;
}
.footer_social_contacts ul li img {
  height: 25px;
  padding: 5px 10px 0 0;
}
.footer_social_contacts li:nth-child(7) a,
.footer_social_contacts li:nth-child(8) a {
  color: gray;
  font-size: .9em;
}
.footer_social_contacts li:nth-child(7) a:hover,
.footer_social_contacts li:nth-child(8) a:hover {
  text-decoration: none;
}
.footer_social_contacts li:nth-child(9) h3 {
  color: darkcyan;
}
.footer_social_contacts li:nth-child(9) span {
  color: darkorange;
}
/*FOOTER FORM REGISTRATION*/
.footer_form_registration {
  width:auto;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
.form_registration form {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}
.form_registration input {
  border: none;
  height: 30px;
  padding-left: 10px;
}
.form_registration input:nth-child(1) {
  margin-left: 20px;
}
.form_registration input:nth-child(1),
.form_registration input:nth-child(2) {
  width: 200px;
  margin-right: 0px;
}
.form_registration input:nth-child(3){
  border: 2px solid darkred;
  border-radius: 5px;
  background-color: lightgray;
}
.form_registration input:nth-child(3):hover{
  background-color: ghostwhite;
  border: 2px solid orange;
}
.form_registration input:nth-child(3):focus {
  background-color: orange;
  border: none;
  outline: 0;
}
.personal_data {
  text-align: center;
  font-size: .8em;
}
.personal_data input {
  height: 20px;
  width: 10px;
  margin: 0;
  padding: 10px;
  outline: 0;
}
/*END FOOTER FORM REGISTRATION*/

/*END FOOTER*/