{% load cms_tags menu_tags sekizai_tags %}
<!doctype html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title>{% block title %}This is my new project home page{% endblock title %}</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" /> {% render_block "css" %}
</head>

<body>
  {% cms_toolbar %}
  <div class="top_container">
    <header>
      <div class="nav_header_tel">
        <ul>
          <li>{% placeholder "tel" %}</li>
        </ul>
      </div>
      <div class="header_block">{% placeholder "header" %}</div>
      {% block header %}{% endblock header %}
      <div class="nav">
        <ul>
          {% show_menu 0 100 100 100 %}
        </ul>
      </div>
    </header>
  </div>
  <div class="container">
    {% block content %}{% endblock content %}
  </div>
  <footer>
    <div class="footer_block">
      <div class="nav_social">
        <div class="social_heading">
          {% placeholder "social_heading" %}
        </div>
        <div class="footer_social_contacts">
          <ul>
            <li><img src="{{STATIC_URL}}img/social/fb.png" alt="Fb" />{% placeholder "footer_fb_contacts"%}</li>
            <li><img src="{{STATIC_URL}}img/social/vk.png" alt="Fb" />{% placeholder "footer_vk_contacts"%}</li>
            <li><img src="{{STATIC_URL}}img/social/insta.png" alt="Fb" />{% placeholder "footer_insta_contacts"%}</li>
            <li><img src="{{STATIC_URL}}img/social/skype.png" alt="Fb" />{% placeholder "footer_skype_contacts"%}</li>
            <li><img src="{{STATIC_URL}}img/social/Telegram.png" alt="Fb" />{% placeholder "footer_telegram_contacts"%}</li>
            <li>{% placeholder "tel" %}</li>
            <li>Разработка: <a href="">{% placeholder "email_rw" %}</a></li>
            <li>Курсы обучения: <a href="">{% placeholder "email_rws" %}</a></li>
            <li>{% placeholder "footer_heading" %}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer_form_registration">
      <div class="form_registration">
        <div class="form_heading">
            {% placeholder "form_heading" %}
        </div>
        <form method="get" action="">
          <input type="name" name="first_name" placeholder="Имя" required />
          <input type="tel" placeholder="Телефон" required />
          <input type="submit" value="Отправить" />
          <div class="checkbox"><input type="checkbox" id="check" required /><label for="check"> Согласие с предоставлением персональных данных и их обработка</label></div>
        </form>
      </div>
    </div>
  </footer>
  <script></script>
  {% render_block "js" %}</body>

</html>
