{% extends "base.html" %} {% load cms_tags %}
<!doctype html>
<html>

<head>
  <title>{% block title %}{% page_attribute "page_title" %}{% endblock title %}</title>
</head>

<body>
  {% cms_toolbar %}
  <header>
   {% block header %}
    <div class="sld_img">
        <div class="sld_block">
         <div class="sld_text">
           {% placeholder "sld_text" %}
         </div>
          <form method="get" action="">
            <input type="submit" values="Отправить"/>
            <input type="submit" values="Отправить"/>
          </form>
        </div>
      </div>
  </header>
  {% endblock header %}
  {% block content %}
  
  <div id="allcontent">
    <div class="introduction">
      <!--INTRODUCTION ABOUT US BLOCK-->
      <div class="intro_block_about">
        <div class="intro_about_heading">
          {% placeholder "intro_about_heading" %}
        </div>
        <div class="intro_about_image">
          {% placeholder "intro_image" %}
        </div>
        <div class="intro_about_block_text">
          <div class="intro_about_text">
            {% placeholder "intro_text" %}
          </div>
        </div>
      </div>
      <!--INTRODUCTION ABOUT US BLOCK-->
      <!--STRUCTURE LANGUAGE CODE SYSTEMS-->
      <div class="structure_block">
        <div class="structure_block_heading">
          {% placeholder "structure_block_heading" %}
        </div>
        <div class="structure_block_lang">
          <div class="structure_lang_image">{% placeholder "html5" %}</div>
          <div class="css3">{% placeholder "css3" %}</div>
          <div class="js_frameworks">{% placeholder "js_frameworks" %}</div>
          <div class="php_lang">{% placeholder "php_lang" %}</div>
          <div class="python_frameworks">{% placeholder "python_frameworks" %}</div>
          <div class="data_base">{% placeholder "data_base" %}</div>
          <div class="cms_sys">{% placeholder "cms_sys" %}</div>
        </div>
      </div>
      <!--END STRUCTURE LANGUAGE CODE SYSTEMS-->
      <!--INTRODUCTION PORTFOLIO BLOCK-->
      <div class="intro_block_portfolio">
        <div class="intro_block_portfolio_left">
          <div class="intro_portfolio_image_left">
            {% placeholder "intro_portfolio_image_1" %}
          </div>
          <div class="intro_portfolio_heading_left">
            {% placeholder "intro_portfolio_heading_1" %}
          </div>
          <div class="intro_portfolio_text_left">
            {% placeholder "intro_portfolio_text_1" %}
          </div>
        </div>
        <div class="intro_block_portfolio_right">
          <div class="intro_portfolio_image_right">
            {% placeholder "intro_portfolio_image_2" %}
          </div>
          <div class="intro_portfolio_heading_right">
            {% placeholder "intro_portfolio_heading_2" %}
          </div>
          <div class="intro_portfolio_text_right">
            {% placeholder "intro_portfolio_text_2" %}
          </div>
        </div>
        <div class="intro_block_portfolio_left">
          <div class="intro_portfolio_image_left">
            {% placeholder "intro_portfolio_image_3" %}
          </div>
          <div class="intro_portfolio_heading_left">
            {% placeholder "intro_portfolio_heading_3" %}
          </div>
          <div class="intro_portfolio_text_left">
            {% placeholder "intro_portfolio_text_3" %}
          </div>
        </div>
        <div class="intro_block_portfolio_right">
          <div class="intro_portfolio_image_right">
            {% placeholder "intro_portfolio_image_4" %}
          </div>
          <div class="intro_portfolio_heading_right">
            {% placeholder "intro_portfolio_heading_4" %}
          </div>
          <div class="intro_portfolio_text_right">
            {% placeholder "intro_portfolio_text_4" %}
          </div>
        </div>
        <div class="intro_block_portfolio_left">
          <div class="intro_portfolio_image_left">
            {% placeholder "intro_portfolio_image_5" %}
          </div>
          <div class="intro_portfolio_heading_left">
            {% placeholder "intro_portfolio_heading_5" %}
          </div>
          <div class="intro_portfolio_text_left">
            {% placeholder "intro_portfolio_text_5" %}
          </div>
        </div>
      </div>
      <!--END INTRODUCTION PORTFOLIO BLOCK-->
      <!--INTRODUCTION REVIEWS-->
      <div class="intro_reviews">
        <div class="intro_reviews_block">
          <div class="intro_reviews_block_heading">
            {% placeholder "intro_reviews_block_heading" %}
          </div>
          <!--REVIEWS_1-->
          <div class="intro_reviews">
            <div class="intro_reviews_heading_1">
              {% placeholder "intro_reviews_heading_1" %}
            </div>
            <div class="intro_reviews_image_1">
              {%placeholder "intro_reviews_image_1" %}
            </div>
            <div class="intro_reviews_text_1">
              {% placeholder "intro_reviews_text_1" %}
            </div>
          </div>
          <!--REVIEWS_2-->
          <div class="intro_reviews">
            <div class="intro_reviews_heading_2">
              {% placeholder "intro_reviews_heading_2" %}
            </div>
            <div class="intro_reviews_image_2">
              {%placeholder "intro_reviews_image_2" %}
            </div>
            <div class="intro_reviews_text_2">
              {% placeholder "intro_reviews_text_2" %}
            </div>
          </div>
          <!--REVIEWS_3-->
          <div class="intro_reviews">
            <div class="intro_reviews_heading_3">
              {% placeholder "intro_reviews_heading_3" %}
            </div>
            <div class="intro_reviews_image_3">
              {%placeholder "intro_reviews_image_3" %}
            </div>
            <div class="intro_reviews_text_3">
              {% placeholder "intro_reviews_text_3" %}
            </div>
          </div>
          <!--REVIEWS_4-->
          <div class="intro_reviews">
            <div class="intro_reviews_heading_4">
              {% placeholder "intro_reviews_heading_4" %}
            </div>
            <div class="intro_reviews_image_4">
              {%placeholder "intro_reviews_image_4" %}
            </div>
            <div class="intro_reviews_text_4">
              {% placeholder "intro_reviews_text_4" %}
            </div>
          </div>
          <!--REVIEWS_5-->
          <div class="intro_reviews">
            <div class="intro_reviews_heading_5">
              {% placeholder "intro_reviews_heading_5" %}
            </div>
            <div class="intro_reviews_image_5">
              {%placeholder "intro_reviews_image_5" %}
            </div>
            <div class="intro_reviews_text_5">
              {% placeholder "intro_reviews_text_5" %}
            </div>
          </div>
          <!--REVIEWS_6-->
          <div class="intro_reviews">
            <div class="intro_reviews_heading_6">
              {% placeholder "intro_reviews_heading_6" %}
            </div>
            <div class="intro_reviews_image_6">
              {%placeholder "intro_reviews_image_6" %}
            </div>
            <div class="intro_reviews_text_6">
              {% placeholder "intro_reviews_text_6" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% endblock content %}

</body>

</html>
