body {
  /*background-image: url(../img/fon.jpg);*/
  font-family: helvetica;
}
.intro_heading h1{
  margin: 10px;
  padding: 20px;
  color: black;
  text-align: center;
}
.intro_newblogs {
  padding: 20px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 13%;
  background-color: whitesmoke;
}

.header_heading h1 a{
  text-decoration: none;
  padding: 5px;
  text-align: center;
  color: darkcyan;
}
.header_heading span {
  color: darkorange;
}

.nav_menu {
  margin: auto;
}

.nav_info_serv{
  position: absolute;
  left: 0;
  right: 10px;
  bottom: 0;
}
.nav_info_serv ul{
  line-height: 1em;
  list-style-type: none;
}
.nav_info_serv li:nth-child(2),
.nav_info_serv li:nth-child(3){
  font-size: .8em;
}
.nav_info_serv li:nth-child(1){
  color: black;
  text-shadow: 1px 1px 1px gray;
  margin-bottom: 10px; 
}
.nav_info_serv li:nth-child(2) a,
.nav_info_serv li:nth-child(3) a{
  color: gray;
}
.nav_info_serv li:nth-child(2) a:hover,
.nav_info_serv li:nth-child(3) a:hover{
  text-decoration: none;
}
.nav_info_serv li:nth-child(4) img{
  margin-top: 10px;
  width: 25px;
}

.nav {
  padding-left: 20px;
}
.nav li {
  display: ;
  list-style-type: none;
  padding: 5px;

}
.nav li a {
  color: grey;
  text-decoration: none;
}
.nav li a:hover{
  text-decoration: underline;
}

.intro_content{
  margin: 0 auto;
}

.newblogs{
  margin:10px;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-radius:2px;
}
.newblogs:hover{
  box-shadow: 0 0 5px whitesmoke;
  background-color: ghostwhite;
}
.new_heading{
  padding:10px;
  color: black;
}
.newblogs_text{
  background-color: ghostwhite;
}
.newblogs a{
  color: black;
  text-decoration: none;
}

.content_i{
  padding: 5px;
}

.container {
  margin-top: 0;
  margin-left: 14%;
  margin-right: auto;
  width: auto;
  max-width: 700px;
}

.block_right{
  width: auto;
  max-width: 300px;
  padding: 10px;
  position: absolute;
  top: 15%;
  right: 50px;
  box-shadow: 0 2px 5px gray;
  background-color: lightblue;
}
.news {
  border-bottom: 1px dashed gray;
}

.content {
  float: left;
  width: 80%;
}
.sidebar {
  float: left;
  width: 20%;
}
